/* ==========================================================================
   Hero
   ========================================================================== */

@import '../../assets/scss/imports';

.hero {
    height: calc(100vh - 6rem);
    display: grid;
}

.hero__bg,
.hero__content {
    grid-area: 1/1;
}

.hero__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5rem;
}

.hero__title {
    margin: 0;

    line-height: .8;
    color: $color-greyscale-300;
}
